[flake8]
max-line-length = 88
ignore = E501,W503,E203
per-file-ignores =
    src/musicrec/main.py:F401
    src/musicrec/data/processor.py:F841
    tests/*.py:F401,F811
exclude = 
    .git,
    __pycache__,
    build,
    dist,
    venv,
    .venv